{% extends 'base-back.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .page-header {
            background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signup-cover.jpg');
            background-position: top;
            background-size: cover;
            padding: 100px 0; /* Adjust padding as needed */
        }
    </style>
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center mx-auto">
                    <h1 class="text-white mb-2 mt-5">Register</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                <div class="card z-index-0">
                    <div class="card-body">
                        {{ form_errors(registrationForm) }}
                        {{ form_start(registrationForm) }}
                        <div class="mb-3">
                            {{ form_row(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.plainPassword, {'label': 'Password', 'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.age, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.height, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.weight, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.profileImage, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-check mb-3">
                            {{ form_widget(registrationForm.agreeTerms) }}
                            <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">
                                {{ form_label(registrationForm.agreeTerms) }}
                            </label>
                        </div>
                        <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Register</button>
                        {{ form_end(registrationForm) }}
                        <p class="text-sm mt-3 mb-0">Already have an account? <a href="{{ path('app_login') }}" class="text-dark font-weight-bolder">Sign in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}