{% extends 'base-back.html.twig' %}

{% block title %}New Food
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

{% endblock %}
{% block body %}
	{{ parent() }}


	<div class="card" style="width: 50rem; margin-left: 370px; margin-top: 100px">


		<div class="card-body">
			<h5 class="card-title">Create new Food</h5>

			<form method="post" action="{{ path('app_food_new') }}">
				{{ form_start(form,{novalidate:'novalidate'}) }}
				<div class="form-group">
					{{ form_label(form.name) }}
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.name,{'attr':{'class': 'form-danger'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.calories) }}
					{{ form_widget(form.calories, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.calories) }}
				</div>
				<div class="form-group">
					{{ form_label(form.protein) }}
					{{ form_widget(form.protein, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.protein) }}
				</div>
				<div class="form-group">
					{{ form_label(form.carbohydrates) }}
					{{ form_widget(form.carbohydrates, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.carbohydrates) }}
				</div>
				<div class="form-group">
					{{ form_label(form.fat) }}
					{{ form_widget(form.fat, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.fat) }}
				</div>
				<div class="form-group">
					{{ form_label(form.serving_size) }}
					{{ form_widget(form.serving_size, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.serving_size) }}
				</div>
				<div class="form-group">
					{{ form_label(form.serving_unit) }}
					{{ form_widget(form.serving_unit, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(form.serving_unit) }}
				</div>
				<button class="btn btn-primary">Save</button>
				{{ form_end(form) }}
			</form>
			<a href="{{ path('app_food_index') }}">back to list</a>
		</div>
	</div>
{% endblock %}
