{% extends 'base-front.html.twig' %}

{% block title %}Popular Courses{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="main-wrapper ">
        <section class="page-title bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="index.html" class="text-sm letter-spacing text-white text-uppercase font-weight-bold">Home</a></li>
                            <li class="list-inline-item"><span class="text-white">|</span></li>
                            <li class="list-inline-item"><a href="#" class="text-color text-uppercase text-sm letter-spacing">Pricing</a></li>
                        </ul>
                        <h1 class="text-lg text-white mt-2">Memebership </h1>
                    </div>
                </div>
            </div>
        </section>
    <!-- Section pricing start -->
    </section>
    <!-- Section pricing start -->
    <section class="section pricing">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="section-title">
                        <div class="divider mb-3"></div>
                        <h2>Package Pricing</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for subscription in subscriptions %}
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                        <div class="card rounded-0 px-4 py-5 ">
                            <h4 class="card-title text-capitalize font-weight-normal font-secondary">{{ subscription.name }}</h4>
                            <h3 class="text-lg font-secondary position-relative mt-2"><sup class="text-sm position-absolute"></sup>{{ subscription.price }}  <sub>DT</sub></h3>

                            <div class="card-body mt-2">
                                <ul class="list-unstyled lh-35 mb-4">
                                    <li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>{{ subscription.type }}</li>
                                </ul>
                                <a href="{{ path('checkout', { 'id': subscription.id }) }}" class="btn btn-solid-border text-black">Buy Now</a>                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Section pricing End -->
{% endblock %}