{% extends 'base-front.html.twig' %}

{% block title %}GymFit| Fitness template{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!-- Header Start -->
    <nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <h2 class="text-white text-capitalize">Gym<span class="text-color">Fit</span></h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid" aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-view-list"></span>
            </button>
            <div class="collapse text-center navbar-collapse" id="navbarsid">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages.</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="about.html">About</a></li>
                            <li><a class="dropdown-item" href="trainer.html">Trainer</a></li>
                            <li><a class="dropdown-item" href="course.html">Courses</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="service.html">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="pricing.html">Memebership</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog.</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="blog.html">Blog Grid</a></li>
                            <li><a class="dropdown-item" href="blog-sidebar.html">Blog Sidebar</a></li>
                            <li><a class="dropdown-item" href="blog-single.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
                <div class="my-md-0 ml-lg-4 mt-4 mt-lg-0 ml-auto text-lg-right mb-3 mb-lg-0">
                    <a href="tel:+23-345-67890">
                        <h3 class="text-color mb-0"><i class="ti-mobile mr-2"></i>+23-563-5688</h3>
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <!-- Header Close -->

    <div class="main-wrapper ">
        <section class="page-title bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="index.html" class="text-sm letter-spacing text-white text-uppercase font-weight-bold">Home</a></li>
                            <li class="list-inline-item"><span class="text-white">|</span></li>
                            <li class="list-inline-item"><a href="#" class="text-color text-uppercase text-sm letter-spacing">Our services</a></li>
                        </ul>
                        <h1 class="text-lg text-white mt-2">What We do</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section About start -->
        <section class="section services">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <div class="section-title">
                            <div class="divider mb-3"></div>
                            <h2>Our Services</h2>
                            <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In error reprehenderit quam enim obcaecati, repudiandae officia a cumque nemo provident!</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for exercise in exercises %}
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="media align-items-center mb-4">
                                <img src="{{ asset('images/' ~ exercise.getIMAGEURL) }}" class="mr-3 w-50" alt="{{ exercise.getNOM }}">

                                <div class="media-body">
                                    <span class="letter-spacing text-sm">Fitness</span>
                                    <h4 class="mb-3 text-uppercase">{{ exercise.getNOM }}</h4>
                                    <p>{{ exercise.getDESCRIPTION }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section>
        <!-- Section About End -->

        <!-- Section Testimonial Start -->
        <section class="section textimonial position-relative bg-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 text-center">
                                <div class="section-title">
                                    <div class="divider mb-3"></div>
                                    <h2 class="text-white">What People say</h2>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-slider slick-initialized slick-slider slick-dotted">
                            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 6570px; transform: translate3d(-2190px, 0px, 0px);"><div class="text-center mb-4 slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 730px;">
                                        <i class="ti-quote-left text-lg text-color"></i>
                                        <h3 class="mt-4 text-white letter-spacing">Shape your body and healthy!</h3>
                                        <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>
                                        <div>
                                            <h4 class="mb-0 text-capitalize text-white font-weight-normal">Hiker jons</h4>
                                            <span class="text-white-50">Manager</span>
                                        </div>
                                    </div><div class="text-center mb-4 slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 730px;">
                                        <i class="ti-quote-left text-lg text-color"></i>
                                        <h3 class="mt-4 text-white letter-spacing">A great Start to a healthy life</h3>
                                        <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>

                                        <div>
                                            <h4 class="mb-0 text-capitalize text-white font-weight-normal">John Donas</h4>
                                            <span class="text-white-50">Manager</span>
                                        </div>
                                    </div><div class="text-center mb-4 slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 730px;">
                                        <i class="ti-quote-left text-lg text-color"></i>
                                        <h3 class="mt-4 text-white letter-spacing">The workout worth attending!</h3>
                                        <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>
                                        <div>
                                            <h4 class="mb-0 text-capitalize text-white font-weight-normal">Donas Jack</h4>
                                            <span class="text-white-50">Manager</span>
                                        </div>
                                    </div><div class="text-center mb-4 slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02" style="width: 730px;">
                                        <i class="ti-quote-left text-lg text-color"></i>
                                        <h3 class="mt-4 text-white letter-spacing">Very Professional Club and coaches</h3>
                                        <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>
                                        <div>
                                            <h4 class="mb-0 text-capitalize text-white font-weight-normal">Mikel Hussy</h4>
                                            <span class="text-white-50">Manager</span>
                                        </div>
                                    </div><div class="text-center mb-4 slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide03" aria-describedby="slick-slide-control03" style="width: 730px;">
                                        <i class="ti-quote-left text-lg text-color"></i>
                                        <h3 class="mt-4 text-white letter-spacing">Shape your body and healthy!</h3>
                                        <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>
                                        <div>
                                            <h4 class="mb-0 text-capitalize text-white font-weight-normal">Hiker jons</h4>
                                            <span class="text-white-50">Manager</span>
                                        </div>
                                    </div><div class="text-center mb-4 slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 730px;">
                                        <i class="ti-quote-left text-lg text-color"></i>
                                        <h3 class="mt-4 text-white letter-spacing">A great Start to a healthy life</h3>
                                        <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>

                                        <div>
                                            <h4 class="mb-0 text-capitalize text-white font-weight-normal">John Donas</h4>
                                            <span class="text-white-50">Manager</span>
                                        </div>
                                    </div><div class="text-center mb-4 slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 730px;">
                                        <i class="ti-quote-left text-lg text-color"></i>
                                        <h3 class="mt-4 text-white letter-spacing">The workout worth attending!</h3>
                                        <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>
                                        <div>
                                            <h4 class="mb-0 text-capitalize text-white font-weight-normal">Donas Jack</h4>
                                            <span class="text-white-50">Manager</span>
                                        </div>
                                    </div><div class="text-center mb-4 slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 730px;">
                                        <i class="ti-quote-left text-lg text-color"></i>
                                        <h3 class="mt-4 text-white letter-spacing">Very Professional Club and coaches</h3>
                                        <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>
                                        <div>
                                            <h4 class="mb-0 text-capitalize text-white font-weight-normal">Mikel Hussy</h4>
                                            <span class="text-white-50">Manager</span>
                                        </div>
                                    </div><div class="text-center mb-4 slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 730px;">
                                        <i class="ti-quote-left text-lg text-color"></i>
                                        <h3 class="mt-4 text-white letter-spacing">Shape your body and healthy!</h3>
                                        <p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda hic error veniam exercitationem</p>
                                        <div>
                                            <h4 class="mb-0 text-capitalize text-white font-weight-normal">Hiker jons</h4>
                                            <span class="text-white-50">Manager</span>
                                        </div>
                                    </div></div></div>





                            <ul class="slick-dots" style="" role="tablist"><li class="" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 4" tabindex="-1">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 4" tabindex="-1">2</button></li><li role="presentation" class="slick-active"><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 4" tabindex="0" aria-selected="true">3</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03" aria-label="4 of 4" tabindex="-1">4</button></li></ul></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Testimonial END -->


        <!-- footer Start -->
        <footer class="footer bg-black-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                        <h2 class="text-white mb-4">GymFit</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus illo ad quo sunt maiores, sint nostrum omnis eaque cumque dolorum.</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>


                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <div class="footer-widget recent-blog">
                            <h4 class="mb-4 text-white letter-spacing text-uppercase">Recents Posts</h4>
                            <div>
                                <a href="blog-single.html" class="text-white">Claritas est etiam processus dynamicus</a>
                                <p class="text-sm mt-2 text-white-50">30 february 2019</p>
                            </div>
                            <div class="mt-4">
                                <a href="blog-single.html" class="text-white">Claritas est etiam processus dynamicus</a>
                                <p class="text-sm mt-2 text-white-50">30 february 2019</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-2 col-md-5 mb-5 mb-lg-0">
                        <div class="footer-widget">
                            <h4 class="mb-4 text-white letter-spacing text-uppercase">Quick Links</h4>
                            <ul class="list-unstyled footer-menu lh-40 mb-0">
                                <li><a href="about.html"><i class="ti-angle-double-right mr-2"></i>About Us</a></li>
                                <li><a href="service.html"><i class="ti-angle-double-right mr-2"></i>Services</a></li>
                                <li><a href="pricing.html"><i class="ti-angle-double-right mr-2"></i>Membership</a></li>
                                <li><a href="course.html"><i class="ti-angle-double-right mr-2"></i>Courses</a></li>
                                <li><a href="contact.html"><i class="ti-angle-double-right mr-2"></i>Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5">
                        <div class="footer-widget">
                            <h4 class="mb-4 text-white letter-spacing text-uppercase">Home location</h4>
                            <p>Washington 6036 Richmond
                                hwy., Alexandria, VA USA 22303 </p>
                            <span class="text-white">+1 (409) 987–5874</span>
                            <span class="text-white">info@demolink.org</span>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center mt-5 px-3 bg-black mx-1">
                    <div class="col-lg-4">
                        <p class="text-white mt-3">Gymfit © 2019 , Theme By <a href="https://themefisher.com/" class="text-color">Themefisher.com</a></p>
                    </div>
                    <div class="col-lg-6 ml-auto text-right">
                        <ul class="list-inline mb-0 footer-socials">
                            <li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="ti-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/themefisher/"><i class="ti-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!--
     Essential Scripts
     =====================================-->


    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!--  Magnific Popup-->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
    <script src="plugins/google-map/gmap.js"></script>

    <script src="js/script.js"></script>



{% endblock %}