<!doctype html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GYm,fitness,business,company,agency,multipurpose,modern,bootstrap4">

    <!-- theme meta -->
    <meta name="theme-name" content="gymfit" />

    <meta name="author" content="Themefisher.com">

    <title>GymFit</title>

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{{ asset('front-office/plugins/bootstrap/css/bootstrap.min.css') }}">
    <!-- Icofont Css -->
    <link rel="stylesheet" href="{{ asset('front-office/plugins/icofont/icofont.min.css') }}">
    <!-- Themify Css -->
    <link rel="stylesheet" href="{{ asset('front-office/plugins/themify/css/themify-icons.css') }}">
    <!-- animate.css -->
    <link rel="stylesheet" href="{{ asset('front-office/plugins/animate-css/animate.css') }}">
    <!-- Magnify Popup -->
    <link rel="stylesheet" href="{{ asset('front-office/plugins/magnific-popup/dist/magnific-popup.css') }}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{{ asset('front-office/plugins/slick-carousel/slick/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/plugins/slick-carousel/slick/slick-theme.css') }}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ asset('front-office/css/style.css') }}">

</head>
<body>
{% block body %}


    <!-- Section Menu Start -->
    <!-- Header Start -->
    <nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <h2 class="text-white text-capitalize"></i>Gym<span class="text-color">Fit</span></h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid"
                    aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-view-list"></span>
            </button>
            <div class="collapse text-center navbar-collapse" id="navbarsid">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_main') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_membership') }}">Memberships</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_ex') }}">Exercices</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_plan') }}">Plans</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_food_index2') }}">Food</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_recipe_index2') }}">Recipes</a></li>
                </ul>
                <div class="my-md-0 ml-lg-4 mt-4 mt-lg-0 ml-auto text-lg-right mb-3 mb-lg-0">
                    <a href="tel:+23-345-67890">
                        <h3 class="text-color mb-0"><i class="ti-mobile mr-2"></i>+23-563-5688</h3>
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <!-- Header Close -->

    <div class="main-wrapper ">


    </div>

    <!--
     Essential Scripts
     =====================================-->


    <!-- Main jQuery -->
    <script src="{{ asset('front-office/plugins/jquery/jquery.js') }}"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="{{ asset('front-office/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- Slick Slider -->
    <script src="{{ asset('front-office/plugins/slick-carousel/slick/slick.min.js') }}"></script>
    <!--  Magnific Popup-->
    <script src="{{ asset('front-office/plugins/magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
    <script src="{{ asset('front-office/plugins/google-map/gmap.js') }}"></script>

    <script src="{{ asset('front-office/js/script.js') }}"></script>

{% endblock %}
</body>

</html>