{% extends 'base-back.html.twig' %}

{% block title %}Subscription{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
<div class="card" style="width: 50rem; margin-left: 500px; margin-top: 100px">
    <div class="card-body">
        <h5 class="card-title">Subscriptions</h5>
        <table class="table">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ subscription.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ subscription.type }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ subscription.price }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('app_subscription_index') }}" class="btn btn-primary">back to list</a>
        <a href="{{ path('app_subscription_edit', {'id': subscription.id}) }}" class="btn btn-primary">edit</a>
        {{ include('subscription/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
