{% extends 'base-back.html.twig' %}
{% block title %}Edit User{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        input.form-control {
            border: none;
            border-bottom: 1px solid #ccc;
            box-shadow: none;
            border-radius: 0;
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <style>
        .form-group {
            margin-bottom: 15px;
            width: 700px; /* Adjust as needed */
            height: 60px; /* Adjust as needed */
        }

        .btn {
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>

    <div class="card" style="width: 50rem; height: 38rem; margin-left: 500px; margin-top: 100px">
        <div class="card-body">
            <h5 class="card-title">Edit User</h5>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                {{ form_label(form.roles) }}
                {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.roles) }}
            </div>
            <div class="form-group">
                {{ form_label(form.isVerified) }}
                {{ form_widget(form.isVerified, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.isVerified) }}
            </div>
            <div class="form-group">
                {{ form_label(form.isBanned) }}
                {{ form_widget(form.isBanned, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.isBanned) }}
            </div>
            <div class="form-group">
                {{ form_label(form.isDeleted) }}
                {{ form_widget(form.isDeleted, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.isDeleted) }}
            </div>
            <br>
            <div style="display: flex; justify-content: center; width: 100%;">
                <a href="#" onclick="this.closest('form').submit()">
                    <img src="{{ asset('back-office/img/save.png') }}" alt="Update" style="width: 43px; height: 43px;">
                </a>
                <a href="{{ path('app_user_index') }}">
                    <img src="{{ asset('back-office/img/back.png') }}" alt="Back to list" style="margin-left: 15px; width: 40px; height: 40px;">
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}