{% extends 'base-back.html.twig' %}

{% block title %}Subscription{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
<div class="card" style="width: 50rem; margin-left: 500px; margin-top: 100px">
    <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
        <h5 class="card-title">User</h5>
    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Delete</th>
                <td>{{ user.isDeleted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Ban</th>
                <td>{{ user.isBanned ? 'Yes' : 'No' }}</td>
            </tr>

        </tbody>
    </table>

        <div style="display: flex; justify-content: space-between; width: 120px;">
            <a href="{{ path('app_user_index') }}">
                <img src="{{ asset('back-office/img/back.png') }}" alt="Back to list" style="width: 40px; height: 40px;">
            </a>
            <a href="{{ path('app_user_edit', {'id': user.id}) }}">
                <img src="{{ asset('back-office/img/edit.png') }}" alt="Edit" style="margin-left: 15px; margin-right: 15px; width: 40px; height: 40px;">
            </a>
            {{ include('user/_delete_form.html.twig', {'icon': true}) }}
        </div>
    </div>
</div>
{% endblock %}